.projectsTitle {
  color: var(--Dark-Color, #21243D);
  font-family: Heebo;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  margin-left: 350px;
  margin-bottom: 40px;
  padding-top: 38px;
}

.pinnedProject {
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 46px;
  padding-bottom: 15px;
  width:fit-content;
}

.pinnedProjectLink {
  color: #21243D;
  text-decoration: none;
}

.pinnedProjectImg {
  border-radius: 6px;
  height: 250px;
  width: 400px;
}

.pinnedProjectTextDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 108px;
  width: 100%;
}

.projectTitle {
  color: var(--Dark-Color, #21243D);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pinnedProjectYearLanguage {
  align-items: center;
  display: flex;
  margin-top: 18px;
  margin-bottom: 18px;
}

.pinnedProjectYear {
  background: #142850;
  border: none;
  border-radius: 16px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  height: 25px;
  margin-right: 26px;
  padding-top: 1px;
  width: 62px;
}

.pinnedProjectLang {
  color: #8695A4;
  font-family: Heebo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 15px;
  transition: ease 0.4s;
}

.pinnedProjectLang:hover {
  color: #336aa2;
  cursor: default;
  font-weight: bold;
}

.pinnedProjectDescription {
  color: var(--Dark-Color, #21243D);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 93px;
  line-height: normal;
  width: 594px;
}