.projectPageMainSection {
  margin: 0 auto;
  margin-top: 115px;
  width: 900px;
}

.ProjecTitle {
  color: #21243D;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.projectTagDiv {
  align-items: center;
  display: flex;
  margin-bottom: 40px;
  margin-top: 20px;
  width: fit-content;
}

.projectTag {
  display: flex;
}

.projectResume {
  color: #000;
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 40px;
}

.projectImg {
  border-radius: 15px;
  height: 500px;
  margin-right: 50px;
  transition: ease 0.2s;
}

.projectImgCodeStore {
  border-radius: 15px;
  height: 500px;
  margin-right: 50px;
  transition: ease 0.2s;
}

.projectImgWallet {
  border-radius: 15px;
  transition: ease 0.2s;
  width: 980px;
}

.projectImgCodeStore:hover {
  height: 550px;
  width: 1080px;
}

.projectImgWallet:hover {
  width: 1100px;
}

.imgDivWallet {
  align-items: center;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  background: #cecdcd;
  height: 590px;
  margin-bottom: 70px;
  width: 1000px;
  box-shadow: 50px 50px 65px #c7c7c7,
    -50px -50px 65px #f9f9f9;
}

.imgDivCodeStore {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 50px;
  border-radius: 15px;
  background: #cecdcd;
  height: 540px;
  margin-bottom: 70px;
  width: 950px;
  box-shadow: 50px 50px 65px #c7c7c7,
    -50px -50px 65px #f9f9f9;
}

.projectImg:hover {
  height: 520px;
}

.imgDiv {
  align-items: center;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  background: #e0e0e0;
  height: 540px;
  margin-bottom: 70px;
  box-shadow: 50px 50px 65px #c7c7c7,
    -50px -50px 65px #f9f9f9;
}

.videoDiv {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background: #e0e0e0;
  height: 540px;
  margin-bottom: 70px;
  box-shadow: 50px 50px 65px #c7c7c7,
    -50px -50px 65px #f9f9f9;
}

.projectVideo {
  border-radius: 15px;
}

.ulList {
  margin-bottom: 40px;
}

.projectList {
  color: #000;
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
}

.projectList2 {
  color: #000;
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.projectH2 {
  color: var(--Dark-Color, #21243D);
  font-family: Heebo;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
}

.projectH3 {
  color: var(--Dark-Color, #21243D);
  font-family: Heebo;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
}