.footerDiv {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  height: 152px;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin: 0 auto;
  width: fit-content;
}

.socialIcon {
  height: 30px;
  margin-bottom: 26px;
  width: 30px;
}

.copyrightP {
  color: var(--Dark, #21243D);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
